
   
   .flex-wrap{
     flex-wrap: wrap;
     display: flex;
   }
   
   .GIboxes{ 
     background-color: rgb(255, 255, 244);
     border-radius: 10px;
     margin: 30px;
     padding:10px;
     font-size:20px;
     width:40%;
   }
   

    
   
   .players{
      background-color:rgb(255, 255, 244);
     border-radius: 10px;
      margin: 30px;
     padding:10px;
     font-size: 25px;
   }

   
   

  
  