@import url('https://fonts.googleapis.com/css2?family=Labrada:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@467&family=Shadows+Into+Light&display=swap');

body{ 
  background-color: rgb(206, 203, 204);
  margin:0;
  padding:0;


}

.Menu_bar{ /*formatting the menu bar*/
  background-color: rgb(91, 68, 55);
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: 5px;
  padding-bottom:20px;
  z-index: 1;
}
.Menu_bar a:hover { /*the format when someone hovers over the link*/
  color: black;
}
.Menu_bar a{ /*formatting the menu options, the options inside the menu bar.*/
  color:white;
  font-family: "Shadows into light";
  text-decoration: none;  
   margin: 15px 27px;
  text-align: left;
  font-size: 30px;
}
.Menu_bar a.active {/* Add a color to the active link */
  background-color: #04AA6D;
  color: white;
}



.Title{ /* Formatting the title page */      
  /* format the background*/
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  transform: translateY(12);
  height:100%;
  width:100%;
  padding-top:300px;
  padding-left:50px;
  margin-top: 70px;


  font-size: 90px;
  font-family: "Lora"; 
  color: white;
}

/*forrmatting the brown background*/
.Brownbackground{
  background-color: rgb(205, 183, 167);
   padding:20px;
   border-radius: 10px;
   margin: 100px 100px;
   color:black;
   text-align: left;
 }
 


p { /* formatting the text blocks on the page, */
  background-repeat: no-repeat; 
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  transform: translateY(12);
  margin: 30px 30px;
  text-align: center;
  font-size: 35px;
  color: white;
  font-family: "Labrada";
  padding: 50px 60px;
  border-radius: 19px;

}

img{ /*formating the images and making them look like polaroids*/
  padding: 20px 20px 55px 20px;
  background-color: rgb(255,255,244);

}

#pictures1 img{
  width:600px;

}


/*photo formating*/
#Calvinsroom{
  top: 10px;
  left: 100px;
  transform: rotate(5deg);
  
}

#Mollysroom{
  top: 500px;
  left: 500px;
  transform: rotate(5deg);
}

#Ediesroom{
  top: 20px;
  left: 1000px;
  transform: rotate(-15deg);
 
}

#pictures1{
  height: 1000px;
  width: 100%;
  position: relative;
}

#odinsroom{
  top: 10px;
  left: 100px;
  transform: rotate(5deg);
}

.game {
  position: absolute;
}

.captions{ 
  font-size: 10px;
}

/*Formatting for information boxes */
.textbox{ 
  background-color: rgb(255,255,244);
  padding:20px;
  border-radius: 10px;
  font-size: 20px;
  font-family: "Shadows into light";
  box-shadow: 10px 10px 10px gray;

}

.row {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap:10px 20px;

}

.maintext{
  width: 650px;
}

.bugs{
  margin: 100px 40px;
  font-size: 30px;
}


body{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  transform: translateY(12);
  
}

.portrait{
 width:350px;
 box-shadow: 10px 10px 10px gray;
}

 .name{
  text-align: center;
  text-decoration:overline;
  text-shadow: #7d6446 2px 2px 4px;

 }
 
  


/* formatting the General Information page*/


/*formatting the creators page*/

.creator{
  display:flex;
  justify-content: center;
  gap:40px;
  margin-bottom:30px;
  height: max-content;

}

.creator * { /*star means everything in the div*/
    width: 40%;
    
}


.creatortext{
  width:100%;
  font-size: 30px;
}

.creatorheading {
  width: 100%;
}


.creatorheading h1 {
  font-size: 2rem;
}

#sparrowimgcontainer {
  background-color: white;
  flex-grow: 1;
  justify-items: center;
  align-items: center; 
  display: grid;
}

#sparrowimgcontainer img {
  width: 100%;
  padding: 0px;
}


h5{
  padding:20px;
  background-color:white;
  font-family:"Shadows into light";
  font-size:55px;
  text-align:center;
  width:fit-content;
  border-radius: 9px;

}

h6{
  font-size:40px;
  text-align:center;
  color:white;


}

.quote{
  display:flex;
  justify-content:center;
}



.thecreator{
  text-align:center;


}



.pictures2{
  position: relative;
  
  display:flex;
  flex-wrap: no-wrap;
  justify-content:space-between;


}

.pictures2 *{
  width:25%;

}

h1{
  font-size: 50px;
}

